@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: border-box;
}
body {
    font-family: "Merriweather", serif;
}
/* banner section start here */
.banner-container {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px ;
    margin-bottom: 50px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5) ;
    background-image: url(../images/Banner\ Image.png);
    /* background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

}
.banner-content-container {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.banner-content-container p {
    font-size: 32px;
    font-weight: 400;
}
.banner-content-container h1 {
    font-size: 72px;
    font-weight: 900;
}

/* 65% section style starts here */
.first-section-container {
    max-width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
   

}
.first-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section-content h1 {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
    line-height: 107px;
    letter-spacing: 0%;
    margin-bottom: 48px;

}
.first-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}
.first-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    ine-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.new-year-img-container {
    width: 802.9px;
    height: 500px;
}
.new-year-img-container img{
    width: 100%;
    height: 100%;
}

/* 65% section style ends here */


/* midnight party section style starts here */

.midnight-party-container {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.left-side-content {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.left-side-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    /* line-height: 88px;
    letter-spacing: 11%; */
    text-align: left; 
    padding-left: 95px ;
}
.left-side-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 126px;
}
#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 300px;
    
}
.right-side-content {
    width: 50%;
    height: 600px;
    display: inline-block;
    background-image: url("../images/2024.png");
    background-position: center;
    background-repeat: no-repeat;
   
}
/* midnight party section style ends here */